# Environment Variables
.env
*.env

# Python & Virtual Environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Database & Celery Runtime Files
*.db
*.sqlite
*.sqlite3
celerybeat-schedule*

# Node & Frontend Builds
node_modules/
dist/
build/

# IDEs & OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db